version: 0.1.0.{build}

image: Visual Studio 2019

configuration: Release

before_build:
  - nuget restore
  - dotnet restore

build:
  parallel: true
  verbosity: minimal

test_script:
  - dotnet test --no-build

artifacts:
  - path: src\**\*.nupkg
    name: NuGet

skip_branch_with_pr: true
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
clone_depth: 5
nuget:
  project_feed: true
  disable_publish_on_pr: true
